/* Container styling */
.piece-container {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-piece-container {
    width: 100px;
    height: 70px;
    margin: 1px 0;
}

.hold-piece-container {
    width: 100px;
    height: 100px;
    margin: 5px 0;
} 