.ghostCell {
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.5);
  border-style: dashed !important;
}

.board {
  position: relative;
  transition: transform 0.2s ease;
  margin: 0 auto;
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 768px) {
  .board {
    margin: 1rem auto;
  }
}

